html {
    font-size: 13px;
    color: #bbdefb;
  }

  .clips {
    display: flex;
    padding-left: 192px;
  }
  
  .clip {
    min-width: 60px;
    min-height: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .clip-playing {
    background-color: #1769aa;
    border-radius: 5px;
  }